# Ignore all files in the models directory
models/*
.env
# But do not ignore the models directory itself
!models/

# If you want to keep specific files, add exceptions below (example):
#!models/README.md
